<%= @user.username %>
<%#Add Create Profile link for new users %>
<%#Add profile info %>
<% if current_user and current_user == @user %>
<%#Edit login info link %>
<%#Edit profile info link %>
<p><%= link_to 'Delete Your Account', user_path(@user.id), method: :delete %></p>
<% end %>