<h2>About TrashTalk</h2>

<div class="about">
<p><strong>TrashTalk is for fantasy players, by fantasy players</strong>.</p>
<br>
<p>
  We're a social blogging site where fantasy players can share advice on their line-ups, brag about their victories, vent about their defeats, and talk smack to their competitors.
</p>
<br>
<p>
Share the ups and downs of fantasy ownership with people who know what it's like to win from the waiver wire and lose by a missed field goal. No matter what sport you play - football or basketball, pro or college - we have a community for you.
</p>
<br>
<p>
You can use TrashTalk to get the edge in your league or invite your entire league and talk trash.
</p>

</div>