<h2>Contact Us</h2>

<div class="about">
<p><strong>Have a question for the TrashTalkTeam? A suggestion for making the site even better?</strong>.</p>
<br>
<p>
  We'd love to hear from you (within reason).
</p>
<br>
<p>
Email us at trashtalkfantasy [at] gmail [dot] com and let us know what's on your mind.
</p>

</div>