h2 {
  text-align: center;
}

.posts {
  text-align: center;
  margin-right: 380px;
  margin-left: 380px;
}

.posts p:nth-of-type(4n+1){
  background-color: #f1f1f1;
}

.posts p:nth-of-type(4n+2){
  background-color: white;
}

.posts p:nth-of-type(4n+3){
  background-color: #F0F8FF;
}

.posts p:nth-of-type(4n+4){
  background-color: white;
}

.about {
  text-align: center;
  margin-right: 380px;
  margin-left: 380px;
  margin-top: 5px;
}
